<div class="row">
    <div class="col-md-12">
        <div class="modal-header titulo-modal">
            <div class="titulo-texto">
                <div>Formuário de livro</div>
            </div>
        </div>
        <div class="modal-body">
            <form [formGroup]="livroForm">
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" maxlength="40"
                        formControlName="titulo"/>
                </div>
                <div class="mb-3">
                    <label for="editora" class="form-label">Editora</label>
                    <input type="text" class="form-control" id="editora" name="editora" maxlength="40"
                        formControlName="editora"/>
                </div>
                <div class="mb-3">
                    <label for="edicao" class="form-label">Edição</label>
                    <input type="number" class="form-control" id="edicao" name="edicao"
                        formControlName="edicao"/>
                </div>
                <div class="mb-3">
                    <label for="publicacao" class="form-label">Ano de publicação</label>
                    <input type="text" class="form-control" id="publicacao" name="publicacao" maxlength="4"
                        formControlName="publicacao"/>
                </div>
                <div class="mb-3">
                    <label for="autores" class="form-label">Autores</label>
                    <select class="form-select" id="autores" name="autores" formControlName="autores" multiple>
                        @for (autor of autores; track autor.CodAu) {
                            <option [ngValue]="autor">
                                {{ autor.Nome }}
                            </option>
                        }
                      </select>
                </div>
                <div class="mb-3">
                    <label for="assuntos" class="form-label">Assuntos</label>
                    <select class="form-select" id="assuntos" name="assuntos" formControlName="assuntos" multiple>
                        @for (assunto of assuntos; track assunto.CodAu) {
                            <option [ngValue]="assunto">
                                {{ assunto.Descricao }}
                            </option>
                        }
                      </select>
                </div>
            </form>
            @if(errors.length > 0) {
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <ul class="list-group">
                            @for(error of errors; track error) {
                                <li class="list-group-item list-group-item-danger"> {{ error }}</li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div class="modal-footer">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-primary" (click)="salvar()">{{ submitBtn }}</button>
                <button type="button" class="btn btn-light" (click)="activeModal.close()" >Fechar</button>
            </div>
        </div>
    </div>
</div>
