<div class="row">
    <div class="col-md-12">
        <div class="modal-header titulo-modal">
            <div class="titulo-texto">
                <div>Formulário de livro</div>
            </div>
        </div>
        <div class="modal-body">
            <p> Tem certeza que quer excluir o livro <b>{{ livro.Titulo }}</b>? </p>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary" (click)="excluir()">{{ confirmBtn }}</button>
                    <button type="button" class="btn" (click)="activeModal.close()" >Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
