<div class="row">
  <div class="col-md-12">
    <div class="modal-header modal-title">
      <div class="title-text">
        <div>Book form</div>
      </div>
    </div>
    <div class="modal-body">
      <form [formGroup]="bookForm">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" maxlength="40"
                 formControlName="title"/>
        </div>
        <div class="mb-3">
          <label for="publisher" class="form-label">Publisher</label>
          <input type="text" class="form-control" id="publisher" name="publisher" maxlength="40"
                 formControlName="publisher"/>
        </div>
        <div class="mb-3">
          <label for="edition" class="form-label">Edition</label>
          <input type="number" min="1" class="form-control" id="edition" name="edition"
                 formControlName="edition"/>
        </div>
        <div class="mb-3">
          <label for="published_at" class="form-label">Published At</label>
          <input type="text" class="form-control" id="published_at" name="published_at" maxlength="4"
                 formControlName="published_at"/>
        </div>
        <div class="mb-3">
          <label for="authors" class="form-label">Authors</label>
          <select class="form-select" id="authors" name="authors" formControlName="authors" multiple>
            @for (author of authors; track author) {
              <option [ngValue]="author">
                {{ author.name }}
              </option>
            }
          </select>
        </div>
        <div class="mb-3">
          <label for="subjects" class="form-label">Subjects</label>
          <select class="form-select" id="subjects" name="subjects" formControlName="subjects" multiple>
            @for (subject of subjects; track subject) {
              <option [ngValue]="subject">
                {{ subject.description }}
              </option>
            }
          </select>
        </div>
      </form>
      @if (errors.length > 0) {
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <ul class="list-group">
              @for (error of errors; track error) {
                <li class="list-group-item list-group-item-danger"> {{ error }}</li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
    <div class="modal-footer">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary" (click)="save()">{{ submitBtn }}</button>
        <button type="button" class="btn btn-light" (click)="activeModal.close()">Close</button>
      </div>
    </div>
  </div>
</div>
